body {
    background-color: #f0f0f0; /* Gris humo */
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007A33; /* Verde Rolex */
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #007A33; /* Verde Rolex */
    border-radius: 4px;
}

button {
    background-color: #007A33; /* Verde Rolex */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005B26; /* Verde más oscuro */
}

.tags {
    margin: 15px 0;
}

.error-message {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.button-container {
    display: flex;
    gap: 5px;
}

